@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
@font-face {
  font-family: 'Bicubik';
  src: local('Bicubik'), url('/tekst/bicubik.woff2') format('woff2'), url('/tekst/bicubik.woff') format('woff'), url('/tekst/bicubik.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;}
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.screen {
    background-color: #161828;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .overlap-wrapper {
    background-color: #161828;
    width: 1920px;
    height: 1321px;
  }
  
  .screen .overlap {
    position: relative;
    width: 1919px;
    height: 1321px;
    left: 1px;
    background-image: url(/img/23.jpg);
    background-size: 100% 100%;
  }
  input {
    outline: none;
    border: 2px solid #ccc; 
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    transition: border-color 0.3s ease; 
}
button{
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
  .screen .content-wrapper {
    position: absolute;
    width: 1059px;
    height: 827px;
    top: -28px;
    left: 0px;
  }
  
  .screen .group {
    position: absolute;
    width: 453px;
    height: 57px;
    top: 466px;
    left: 733px;
  }
  
  .screen .overlap-group {
    position: relative;
    width: 451px;
    height: 57px;
    background-color: #ffffff;
  }
  
  .screen .text-wrapper {
    top: 14px;
    left: 23px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .rectangle {
    top: 564px;
    position: absolute;
    width: 451px;
    height: 57px;
    left: 733px;
    background-color: #ffffff;
  }
  
  .screen .div {
    top: 662px;
    position: absolute;
    width: 451px;
    height: 57px;
    left: 733px;
    background-color: #ffffff;
  }
  
  .screen .text-wrapper-2 {
    top: 575px;
    left: 748px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-3 {
    top: 674px;
    left: 748px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-group-wrapper {
    position: absolute;
    width: 179px;
    height: 54px;
    top: 774px;
    left: 743px;
  }
  
  .screen .div-wrapper {
    position: relative;
    width: 177px;
    height: 54px;
    background-color: #ffffff;
  }
  
  .screen .text-wrapper-4 {
    top: 13px;
    left: 43px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-2 {
    position: absolute;
    width: 168px;
    height: 54px;
    top: 774px;
    left: 1008px;
  }
  
  .screen .overlap-2 {
    position: relative;
    width: 166px;
    height: 54px;
    background-color: #ffffff;
  }
  
  .screen .text-wrapper-5 {
    top: 13px;
    left: 52px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .group-3 {
    position: absolute;
    width: 164px;
    height: 137px;
    top: 301px;
    left: 877px;
  }
  
  .screen .text-wrapper-6 {
    position: absolute;
    width: 162px;
    top: 103px;
    left: -41px;
    font-family: "Bicubik", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .element {
    position: absolute;
    width: 141px;
    height: 103px;
    top: 0;
    left: 3px;
  }
  